{% extends "master.html" %}
{% block title %}
Sign In
{% endblock %}
{% block content %}
<div class="row">
  {% if messages %}
      <div class="alert alert-danger">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
  {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
            <input type="submit" class="btn btn-block btn-success" value="Entrar">
        </form>
        </div>
    </div>
</div>
{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}

{% endblock %}
