{% extends "master.html" %}
{% block title %}
Sign Out
{% endblock %}
{% block header %}
<nav class="navbar navbar-inverse">
          <div id="navbar" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">SoftParking</a></li>
            </ul>
          </div>
      </nav>
{% endblock %}
{% block content %}
<div class="row">
  {% if messages %}
      <div class="alert alert-success">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
  {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{% url 'login' %}">Iniciar sesión nuevamente</a>
        </div>
    </div>
</div>
{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}

{% endblock %}
