{% extends "master.html" %}
{% block title %}
Tickets
{% endblock %}
{% block header %}
<nav class="navbar navbar-inverse">
          <div id="navbar" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">SoftParking</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{usuario}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
              </li>
            </ul>
          </div>
      </nav>
{% endblock %}
{% block content %}
<div class="row">
  {% if messages %}
      <div class="alert alert-success">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
  {% endif %}
  <div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <tr class="info">
          <th>Id</th>
          <th>Fecha entrada</th>
          <th>Tipo de vehiculo</th>
          <th>Placa del vehiculo</th>
        </tr>
    {% for tick in tabla %}
      <tr>
        <td>{{tick.id}}</td>
        <td>{{tick.fechain}}</td>
        <td>{{tick.vehiculos.tipovehiculo.descripcion}}</td>
        <td>{{tick.vehiculos.placa}}</td>
        <td><a href="{% url 'calcular' tick.id %}"><input type="button" class="btn btn-block btn-info" value="Salida"></a></td>
    {% endfor %}
    </table>
  </div>
  </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
            <input type="submit" class="btn btn-block btn-success" value="Ingresar">
        </form>
        </div>
    </div>
</div>
{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}
{% endblock %}
